@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-beige: #e0e4ce;
  --color-sage: #6e9987;
  --color-dark-green: #114d4d;
  --color-gray: #2d3839;
  --color-brown: #27191c;
  font-size: 10px;
}

*:not(h1) {
  font-size: 2rem;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background-color: var(--color-dark-green);
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  font-family: "Poppins", sans-serif;
}
a {
  color: var(--color-dark-green);
  opacity: 50%;
}
a:hover {
  opacity: 100%;
}
span {
  color: var(--color-dark-green);
}
main {
  position: relative;
  width: inherit;
  height: 800px;
  display: inherit;
  text-align: center;
  flex-direction: inherit;
  justify-content: center;
  align-items: inherit;
  text-align: center;
  color: var(--color-dark-green);
}
main > form {
  position: fixed;
  text-align: center;
  padding: 2rem;
  max-width: 500px;
  max-height: 100%;
  display: inherit;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  border: 1px solid white;
  background: var(--color-beige);
}
form .svg-div {
  position: relative;
  width: 100%;
  height: 100px;
}
.svg-div svg {
  position: absolute;
  left: 50%;
  transform: translateX(-15%);
}
.email-field {
  display: flex;
  position: relative;
  width: 100%;
}
.contact-field {
  display: flex;
  position: relative;
  width: 100%;
}
.pass-field {
  display: flex;
  position: relative;
  width: 100%;
}
.choice-inpt {
  display: flex;
  position: relative;
  width: 100%;
}
.address-field {
  display: flex;
  position: relative;
  width: 100%;
}
.mailer-div {
  max-width: 20px;
  padding: 10px;
  max-height: 17px;
  margin-right: 20%;
}
.locker-div {
  max-width: 20px;
  padding: 10px;
  max-height: 17px;
  margin-right: 20%;
}
.locker-div > svg {
  cursor: pointer !important;
}
form > .pass-div {
  text-align: start;
}
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input::placeholder {
  outline: none;
  border: none;
  color: var(--color-dark-green);
  background: none;
}
input {
  padding: 1rem;
}
input[type="email"],
input[type="password"],
input[type="text"]:nth-child(odd) {
  width: inherit;
}
button {
  cursor: pointer;
  background: transparent;
  display: block;
  margin: auto;
  border: none;
  outline: none;
  color: var(--color-beige);
  background: var(--color-sage);
  padding: 1rem;
  transition: all 1s ease;
}
button:hover {
  background: var(--color-dark-green);
  transition: all 1s ease;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
@media only screen and (max-width: 600px) {
  main > form {
    padding: 1rem;
    margin: 10rem 1rem;
  }
}
